<section class="section">
  <div class="columns">
    <div class="column is-three-fifths is-offset-one-fifth">
      <div class="container">
        <div id="app"></div>
      </div>
    </div>
  </div>
</section>
